.topic {
    position: static;
}

.masonry-grid {
    margin: auto;
    column-count: 1;
}

.col-block {
    max-width: 100%;
    margin-bottom: 16px;
    background-color: #ffffffb7;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 20px px var(--gray);
    border: 2px solid var(--gray);
    border-radius: 15px;
    overflow: hidden;
    transition: ease 0.3s;
}

.col-block:hover {
    box-shadow: 0px 0px 20px 2px var(--main-color);
    border-color: var(--main-color);
    transform: scale(1.05)
}

.col-block img {
    width: 700px;
}

.img-text {
    margin: auto;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
}